.bottom-nav {
    display: none;
    background-color: rgb(247, 247, 247);
}
main {
    background-color: rgb(247, 247, 247);
}

body {
    color: rgb(73, 73, 73);
    margin: 0;
    font-family: Lato, sans-serif;
}

p {
    text-align: center;
}



header {
    background-color: rgb(247, 247, 247);
}


a {
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding-top: 0.84em;
    width: 100%;
    height: 100%;
}

ul {
    width: 100%;
    padding: 0;
}

.nav li {
    width: 100%;
    height: 3em;
    /* padding-top: 0.8em;
    padding-bottom: 0.8em; */
    list-style-type: none;
    font-family: Lato, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.3em;
    background-color: white;
    text-align: center;
}


.col img {
    width: 100%;
}

.profile-image {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 4em;
}

h1 {
    width: 100%;
    font-size: 3em;
    font-family: Lato, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0;
}

.contact-title {
    padding-bottom: 0.2em;
}

h3 {
    text-align: center;
    font-size: 1.4em;
}

.col {
    padding-left: 1.4em;
    padding-right: 1.4em;
    margin-bottom: 4em;
}

.description {
    text-align: center;
    font-size: 1.1em;

}

.profile-description {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 3em;
    padding-top: 1em;
    margin: 0;
    width: 90%;
    margin: auto;
}

.contact-description {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: 0;
}

.contact-wrapper {
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-bottom: 4em;
    background-color: rgb(247, 247, 247);
}

.contact-p {
    font-size: 1.2em;
    margin: 0;
    padding-bottom: 1em;
}

.contact-details {
    font-weight: bold;
    padding-left: 1em;
}

footer {
    background-color: rgb(247, 247, 247);
    border-top: 1px solid gray;
    padding-top: 1em;
    padding-bottom: 3rem;
}

.student-name,
.back-to-top {
    margin: 0;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.student-name {
    float: left;
    padding-left: 1.4em;
}

.back-to-top {
    float: right;
    padding: 0;
}

.back-to-top a {
    padding-top: 0;
    text-transform: uppercase;
    padding-right: 1.4em;
}

footer::after {
    content: "";
    display: table;
    clear: both;
}



@media (min-width: 768px) {

    .main-section {
        background-color: white;
    }

    .nav li {
        width: 20%;
        display: inline-block;
        height: 3em;
        /* padding-top: 0.8em;
        padding-bottom: 0.8em; */
        list-style-type: none;
        font-family: Lato, sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0.3em;
        background-color: rgb(247, 247, 247);
        text-align: center;
    }

    ul {
        width: 100%;
        max-width: 800px;
        text-align: center;
        margin: auto;
    }

    a {
        box-sizing: border-box;
        text-decoration: none;
        color: inherit;
        padding-top: 0.84em;
        width: initial;
        height: initial;
    }

    .profile-image {
        float: right;
        box-sizing: border-box;
        width: 40%;
        padding-left: 0;
        padding-right: 2rem;
        padding-top: 4rem;

    }

    .profile-description {
        float: right;
        box-sizing: border-box;
        font-size: 1.2em;
        text-align: left;
        width: 60%;
        padding-top: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    header::after {
        content: "";
        display: table;
        clear: both;
    }

    .main-section::after {
        content: "";
        display: table;
        clear: both;
    }

    .profile-image::after {
        content: "";
        display: table;
        clear: both;
    }

     /* .contact-wrapper::before {
        content: "";
        display: table;
        clear: both;
    } */

    .col {
        float: left;
        box-sizing: border-box;
        width: 49.9%;
    }

    .bottom-nav {
        display: block;
        float: right;
        list-style-type: none;
        padding-top: 0.2em;
        width: 40%;
    }

    .back-to-top {
        display: none;
    }

    .bottom-nav li {
        float: right;
        padding-top: 0;
        text-transform: uppercase;
        padding-right: 1.4em;
        font-weight: bold;
    }

    .bottom-nav a {
        padding-top: 0;
    }


    .contact-wrapper {
        clear: both;
    }

    .contact-wrapper div {
        margin: auto;
        width: 70%;
        max-width: 500px;
    }

    h1 {
        font-size: 2rem;
    }
}



@media (min-width: 1024px) {
    .col {
        float: left;
        box-sizing: border-box;
        width: 33.3%;
    }

    .contact-wrapper div {
        margin: auto;
        width: 70%;
        max-width: 700px;
    }

    .nav {
        float: right;
        width: 60%;
        text-align: right;
    }

    .nav li {
        width: 25%;
        max-width: 400px;
    }



    h1 {
        float: left;
        width: 40%;
    }

    .nav-top::after {
        content: "";
        display: table;
        clear: both;
    }

    header {
        padding-bottom: 3rem;
    }

    .main-section {
        width: 95%;
        background-color: white;
        margin: auto;
    }



    .main-section::after {
        content: "";
        display: table;
        clear: both;
    }


}